<!DOCTYPE html>
<html lang="en">
<%-include('partials/head.ejs')%>
<body>
    <main>
        <div>
            <% for (animal of animals) { %>
                <h2>
                    <%= animals.species %>
                </h2>
                <% } %>
        </div>
    </main>
    
</body>
</html>